@import "./config.module.css";

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  15% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.root {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn {
  animation: pulse 1s infinite;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  flex: 1;
  font-size: 50px;
  height: var(--imageHeight);
  outline: 0;
  padding: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  user-select: none;
  vertical-align: top;
}

.btn:hover {
  color: #8c9ea3;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
}

.next {
  composes: btn;
  text-align: right;
}

.nextHidden {
  composes: btn hidden;
}

.prev {
  composes: btn;
  text-align: left;
}

.prevHidden {
  composes: prev hidden;
}
